/* REGOLE GENERALI */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #006633;
  font-family: Arial, Helvetica, sans-serif;
}
h2:first-child{
  margin-top: 30px;
} 

h2{
  text-align: center;
  color: #fff;
}

input::placeholder{
  text-align: center;
}

label{
  text-align: center;
}

/* CONTAINER SUPERIORE */
.up-container{
  background-color: #e5efea;
  width: 60%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.55);
}

.dati{
  display: flex;
  justify-content: space-evenly;
}

.card{
  display: flex;
  flex-direction: column;
}

label{
  color: #004723;
}

input, select{
margin-top: 10px;
padding: 5px;
border:1px solid #004723;
border-radius: 5px;
}


/* BOTTONI */
.btn-up{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button{
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #660033;
  color: #660033;
  font-weight: bold;
}

.btn-up button{
  margin: 0 20px;
}

/* CONTENITORE DA NASCONDERE */
#data-result{
  display: none;
}

.down-container{
  background-color: #e5efea;
  width: 60%;
  margin: 30px auto;
  padding: 30px;
}

.user-data{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.passenger, .offer, .train-car, .code, .total-price{
  padding: 20px;
}

.passenger{
  background-color: #66a384;
}

#offer-price, #car-num, #ticket-code, #ticket-price{
  margin-top: 30px;
}